{{!-- ### {{{code this.kind}}} **{{{this.name}}}{{entityArgsList this}}** {{>entity-heading-return-type~}} --}}
<h3 id="{{this.name}}">
  <a class="anchor-special" href={{>entity-heading-href~}} data-id="{{this.name}}" data-kind="{{this.kind}}" class="anchor">
    <span>
    {{{code this.kind}}} <strong>{{{this.name}}}{{entityArgsList this}}</strong>{{>entity-heading-return-type~}}
    </span>
  </a>
</h3>
